@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-sans-serif;
}

button{
  font-family: 'Roboto', sans-sans-serif;
  padding: 0.5em;
}

.container{
  display: grid;
  grid-gap: 0.7em;
  grid-template-columns: repeat(4, auto);
}

.card{
  background: lightgrey;
}

.card__header{
  padding: 1em;
  text-align: center;
}

.card__header span{
  margin: 10px;
}

.card__body{
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 0.5em;
  align-items: center;
}
